.sort-wrapper.pure-form
  select#sort(name="sort")
    option(value="username") <%= t('username') %>
    option(value="real_name") <%= t('real name') %>
    option(value="timestamp_created") <%= t('date') %>
  button.pure-button.add-new <%= t('add new') %>
.items-list.pure-menu-list
