form.pure-form.pure-form-stacked(name='login_form', id="login_form")
  fieldset.pure-group
    input(id="username", placeholder!="<%= _.t('username') %>", name="username", type="text", value="ollar")
    input(id="password", name="password", placeholder!="<%= _.t('password') %>", type="text", value="1")

  div.pure-control-group.buttons-wrapper
    button.pure-button.pure-button-primary(type="submit") <%= _.t('login') %>
