.sort-wrapper.pure-form
  select#sort(name="sort")
    option(value="user_id") <%= t('user_id') %>
    option(value="meal_id") <%= t('meal_id') %>
    option(value="qty") <%= t('qty') %>
    option(value="order_date", selected) <%= t('order date') %>
    option(value="created") <%= t('date') %>
.items-list.pure-menu-list
