.left
  .qty-wrapper

.right
  button.edit.pure-button <%= _('edit').t() %>
  button.toggle-enabled.pure-button <%= enabled ? _('disable').t() : _('enable').t() %>
  button.pure-button.show-comments <%= _('show comments').t() %>

  button.remove.pure-button <%= _('delete').t() %>

  button.make-order.pure-button.pure-button-primary <%= _('make order').t() %>

  button.remove-order.pure-button <%= _('remove order').t() %>
