<% if (typeof(id) == 'undefined') {%>
button.add-comment.pure-button <%= _.t('add comment') %>
<% } else { %>
.comments-wrapper
  .text(data-id!="<%= id %>") <%= marked(content) %>
  button.remove-comment.pure-button(data-comment-id!="<%= id %>") <%= _.t('remove comment') %>
<% }; %>
