form.pure-form.pure-form-stacked(name='meal_form', id="meal_form")
  fieldset.pure-group
    input(id="title", class="pure-input-1-2" name="title", placeholder!="<%= t('title') %>", type="text", value!="<%= title ? title : '' %>")

    textarea(id="description", name="description", placeholder!="<%= t('description') %>")
      <%= description ? description : '' %>
      
  fieldset.pure-g
    div.pure-group.pure-u-1-2
      input.pure-input-1-2(id="source_price", name="source_price", placeholder!="<%= t('sources price') %>", type="text", value!="<%= source_price ? source_price : '' %>")
      input.pure-input-1-2(id="price", name="price", placeholder!="<%= t('price') %>", type="text", value!="<%= price ? price : '' %>") 

    div.pure-control-group.pure-u-1-2
      label(for="category") <%= t('category') %>
      select.pure-input-1(id="category", name="category")
        <% _.each(categoriesObj, function(value, key){ %>
        <option value="<%= key %>" <% if (category === parseInt(key)){%>selected<%};%> > <%= value %>
        <% }); %>
      label(for="day_linked") <%= t('day assigned') %>
      select.pure-input-1(id="day_linked", name="day_linked")
        <% _.each(daysObj, function(value, key){ %>
        <option value="<%= key %>" <% if (day_linked === parseInt(key)){%>selected<%};%> > <%= value %>
        <% }); %>

  div.pure-control-group.buttons-wrapper.visible
    button.pure-button.pure-button-primary(type="submit") <%= t('submit') %>
    button.pure-button.cancel <%= t('cancel') %>

    <% if (typeof id !== "undefined" && id !== null) { %>
    input(name="id", type="hidden", value!="<%= id %>")
    <% }; %>
