.sort-wrapper.pure-form
  select#sort(name="sort")
    option(value="title") <%= _('title').t() %>
    option(value="category") <%= _('category').t() %>
    option(value="day_linked", selected) <%= _('day assigned').t() %>
    option(value="timestamp_created") <%= _('date').t() %>
    option(value="enabled") <%= _('enabled').t() %>
  <% if (local_user.id) {%>
  button.pure-button.add-new <%= _('add new').t() %>
  <% }; %>
.items-list.pure-menu-list
.buttons-wrapper.table-wrapper
  .left
    button.pure-button.select-all <%= _('select all').t() %>
