.sort-wrapper.pure-form
  select#sort(name="sort")
    option(value="title") <%= _('title').t() %>
    option(value="category") <%= _('category').t() %>
    option(value="day_linked", selected) <%= _('day assigned').t() %>
    option(value="timestamp_created") <%= _('date').t() %>
    option(value="enabled") <%= _('enabled').t() %>
  button.pure-button.add-new <%= _('add new').t() %>
.items-list.pure-menu-list
.pagination
  span.prev.pure-button
    <%= _('previous').t() %>
  span.current 1
  span.next.pure-button
    <%= _('next').t() %>
.buttons-wrapper.table-wrapper
  .left
    button.pure-button.select-all <%= _('select all').t() %>
