.name
  span.qty
  | <%= title %>
  span.res-price
  
.description <%= marked(description) %>

// Buttons wrapper
.buttons-wrapper
  .right
    .qty-wrapper.flex-wrapper
      .decrease.qty-change -
      .pure-button 
        span.qty
        span.text
      //- make/remove order
      .increase.qty-change +
    
// comments
.comments
