.name 
  .qty-num
  | <%= title %>
.description <%= marked(description) %>

<% if (loggedUser.id != 0){ %>
.buttons-wrapper.table-wrapper
  <%= success %>
  <% if (!success) { %>
  .left
    // qty wrapper
    .qty-wrapper
  <% }; %>
  
  .right
    <% if (routeName === 'meals') {%>
    <% if (loggedUser.id === 1){ %>
    button.edit.pure-button <%= _('edit').t() %>
    button.toggle-enabled.pure-button <%= enabled ? _('disable').t() : _('enable').t() %>
    
    <% if (!enabled) {%>
    button.remove.pure-button <%= _('delete').t() %>
    <% }; %>
    
    <% }; %>
    <% }; %>

    <% if (routeName === '' && !success) {%>
    button.make-order.pure-button.pure-button-primary <%= _('make order').t() %>
    <% }; %>
    <% if (routeName === '' && success) {%>
    button.remove-order.pure-button <%= _('remove order').t() %>
    <% }; %>
      
    
// comments
.comments

<% }; %>
