.name
  span.qty
  | <%= title %>
.description <%= marked(description) %>

// Buttons wrapper
.buttons-wrapper.flex-wrapper
  .left
    .qty-wrapper
      .decrease.pure-button -
      .qty
        //- <%= qty %>
      .increase.pure-button +

  .right    
    button.pure-button 
      //- make/remove order
    
// comments
.comments
