.menu-wrapper{
  padding: 5px;
  border: 1px solid $border_color;
}

.items-list{
  .info{
    width: 100%;
  }

  .buttons-wrapper,
  .comments,
  .stats-menu{
    display: none;
  }

  .pure-menu-item{
    transition: background 0.3s, border 0.3s;
    padding: 10px;
    margin: 0 0 5px;
    border: 1px solid $border_color;
    border-left-width: 2px;
    background: $body_bg;
    position: relative;

    &.dragged{
      transition: 0s;
    }

    &:hover{
      background: darken($body_bg, 2%);
    }

    &.disabled{
      opacity: 0.5;
    }

    &.success{
      border-left-color: $success;

      &:before{
        background-color: $success;
      }
    }

    &.failed{
      border-left-color: $error;

      &:before{
        background-color: $error;
      }
    }

    &.selected{
      border-left-color: $links;

      .buttons-wrapper{
        display: flex;
      }

      .stats-menu,
      .comments{
        display: block;
      }
    }
  }

  .date{
    margin: 10px 0 0;
    font-size: 0.75em;
    color: lighten($text_color, 20%);
  }
}

.sort-wrapper{
  border-radius: 3px;
  margin-bottom: 5px;
  @include clearfix;

  .add-new{
    float: right;
  }
}

.weekday:before{
  font-size: 2em;
}

.pagination{
  display: flex;

  .prev,
  .next{
    padding: 10px;
    text-align: center;
    flex-grow: 2;
  }

  .current{
    padding: 10px;
  }
}
