// =============================================================================

@mixin message($color){
  // box-shadow: 0 0 5px $color;
  border-left-color: $color;
}

#message-wrapper{
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;

  @include sm{
    left: auto;
    width: 300px;
  }
}

.message{
  margin: 5px;
  padding: 10px;
  background: $body_bg;
  box-shadow: 0 0 5px $border_color;
  color: lighten($text_color, 15%);
  border-left: 2px solid $border_color;
  transition: 0.5s;
  max-width: 100%;
  opacity: 1;
  list-style: none;
  cursor: pointer;

  .message-text{
    margin: 0;
  }

  &.error{
    @include message($error);
  }

  &.success{
    @include message($success);
  }

  &.move-out{
    @include sm{
      transform: translateX(100%);
    }
    opacity: 0;
  }

}
