.flex-wrapper{
  align-content: stretch;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  // &>div{
  //   vertical-align: middle;
  // }
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.hidden{
  display: none !important;
}

.visible{
  display: block !important;
}
