.sort-wrapper.pure-form
  select#sort(name="sort")
    option(value="user_id") <%= t('user_id') %>
    option(value="meal_id") <%= t('meal_id') %>
    option(value="content") <%= t('content') %>
    option(value="timestamp_created", selected) <%= t('date') %>

.items-list.pure-menu-list
.buttons-wrapper.table-wrapper
  .left
    button.pure-button.select-all <%= t('select all') %>
