.head 
  a(href!="#stats/month/u<%= user.id %>") <%= user.username %>
  span &nbsp;<%= t('commented') %>&nbsp; 
  span <%= meal.title %>
.content <%= content %>
.date <%= moment(timestamp_modified).startOf('hour').fromNow() %>
