dl.day
  dt.date 
    <%= date %>
    
  dd
    ol.pure-list.stats-meals-list
      <% _.each(orders, function(order){ %>
      li.meal(id!="order-id-<%= order.get('id') %>", data-order-date!="<%= order.get('order_date') %>")
        span(class="meal-details", id!="meal-id_<%= order.get('meal').id %>", title!="<%= order.get('meal').description %>") <%= order.get('meal').title %>
        | &nbsp;&times;&nbsp;<%= order.get('quantity') %>
      <% }); %>
