.items-list.pure-menu-list
<% if (local_user.id) {%>
.buttons-wrapper.flex-wrapper
  .left
    button.pure-button.select-all <%= _.t('select all') %>

  .right
    button.pure-button.pure-button-primary.go <%= _.t('make order') %>
<% }; %>
