.items-list.pure-menu-list
.buttons-wrapper.table-wrapper
  .left
    button.pure-button.select-all <%= t('select all') %>

  .right
    button.pure-button.pure-button-primary.go <%= t('make order') %>
