dl.day
  dt.date 
    <%= date %>
    
  dd
    ol.pure-list.stats-meals-list
      <% _.each(orders, function(order){ %>
      li.meal(id!="order-id-<%= order.get('id') %>", data-order-date!="<%= order.get('order_date') %>")
        span(class="meal-details"
             data-meal-id!="<%= order.get('meal') ? order.get('meal').id : null %>"
             title!="<%= order.get('meal') ? order.get('meal').description : 'deleted' %>") 
              | <%= order.get('meal') ? order.get('meal').title : 'deleted' %>
              | &nbsp;&times;&nbsp;<%= order.get('quantity') %>
      <% }); %>
